*.log
target
/RemoteSystems*
.metadata
.project
.settings
.classpath
.git.properties
.DS_Store
dependency-reduced-pom.xml
logs
jee-agents-sdk/src/main/java/org/forgerock/openam/util/Version.java
*.iml
.idea/
